/* NavBar responsive part */

.NavBar-sm{
    display: none;
}

 @media (max-width: 575.98px) { 
    .NavBar-sm{
        display:block;
    }
    #NavBar-lg{
        display: none;
    }
  }


  /* Main responsive part */

  @media (max-width: 991.98px) { 
    #main{
        height: 775px !important;
    }
   
    #mAarticleRow {
        height: 855px !important;
    }

    #mArticleRow-row{
        height: 700px !important;
    }

    #mainArticle{
        position: absolute !important;
        top: 0;
    }
    #mImg-row{
        margin-top: 10px !important;
    }

    #mArticle {
        position: relative;
        bottom: 130px;
    }
    #mArticle, #mCnt {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #aboutMe{
        height: 730px !important;
    }
   }
   @media (max-width: 577.98px) { 
    #mArticle {
        bottom: 40px;
    }
   }
   @media (max-width: 445.98px) { 
        #main{
            height: 900px !important;
        }
        #mAarticleRow{
            height: 660px !important;
        }

        #mCnt{
            justify-content: center;
            width: 60px !important;
        }
        .mCntItms{
            flex-basis: 300px;
            margin-bottom: 10px;
        }
        #homeImg{
            height: 460px !important;
            
        }

        #mArticle {
            bottom: -133px;
        }
    }


    /* AboutMe part Responsive */

    @media (max-width: 770.98px) { 
       #aboutMe{
        height: 1300px !important;
       }

       .a-Article{
        margin-right: 0;
       }
    
    }

    @media (max-width: 420.98px) { 
        #a-content{
            height: 720px !important;
        }
        #abmCnt{
            width: 210px !important;
        }
        .abmCntItms{
            margin-left: 35px;
        }
       
        #aboutMe {
            height: 1620px !important;
        }
    }


    /* Skills responsive part */

    @media (max-width: 1200.98px) { 
           .skillCard{
            height: 160px !important;
            width: 160px !important;
           }
    }

    @media (max-width: 993.98px) {
            #skills{
                height: 1200px !important;
            }

            #skillGrid{
                height: 1000px;
            }
     }

     @media (max-width: 769.98px) {
        #skills{
            height: 1700px !important;
        }
        #skillGrid{
            height: 1500px;
        }
        
     }

     @media (max-width: 577.98px) {

            #skills{
                height: 3550px !important;
            }

            #skillGrid{
                display: grid;
                grid-template-rows: repeat(1, 160px);
                width: fit-content;
                height: 3350px;
            }
            #skillGrid>div:nth-child(2){
                margin-top: 70px;
            }
            .skillCard{
                height: 200px !important;
                width: 220px !important;
               }

            #skillGridContainer{
                width: fit-content;
            }
     }

     /* Project Responsive Part */

     @media (max-width: 1402.98px) {
            .prjCrds{
                width: 500px !important;
                height: 470px !important;
            }
     }

     @media (max-width: 1201.98px) {
        .prjCrds{
            width: 420px !important;
            height: 450px !important;
        }
    }

    @media (max-width: 991.98px) {
        .prjCrds{
            width: 520px !important;
            height: 500px !important;
        }

        #prjCrdContaine{
            width: fit-content;
        }

        #prjCrd{
            width: 545px;
            height: 1200px !important;
        }
        #project{
            height: 1400px !important;
        }
    }

    @media (max-width: 701.98px) {
        .prjCrds{
            width: 450px !important;
            height: 450px !important;
        }

        #prjCrdContaine{
            width: fit-content;
        }

        #prjCrd{
            width: 470px;
            height: 1000px !important;
        }
        #project{
            height: 1200px !important;
        }
    }


    @media (max-width: 570.98px) {
        .prjCrds{
            width: 370px !important;
            height: 430px !important;
        }

        #prjCrdContaine{
            width: fit-content;
        }

        #prjCrd{
            width: 400px;
            height: 920px !important;
        }
        #project{
            height: 1100px !important;
        }
    }

    @media (max-width: 450.98px) {
        .prjCrds{
            width: 300px !important;
        }

        #prjCrdContaine{
            width: fit-content;
        }

        #prjCrd{
            width: 320px;
        }
        
    }


    /* Contact Responsive Part */
    
    @media (max-width: 1176.98px) {
        #contactImg{
            height: 480px !important;
            width: 850px !important;

        }

        #cntImgDiv{
            margin-top: 100px !important;
            margin-right: 20px !important;
        }

    }

    @media (max-width: 1075.98px) {
        #contactImg{
            height: 430px !important;
        }
        #cntImgDiv{
            margin-top: 150px !important;
           
        }
    }

    @media (max-width: 991.98px) {

        #contact{
            height: 1250px !important;
        }

        #contactImg{
            height: 560px !important;
            width: 630px !important;
        }

        #cntImgDiv{
            width: fit-content !important;
            position: relative;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%); 
        }

        #formRow{
            justify-content: center;
        }
        #formCol{
            margin-left: 0 !important;
        }
    }

    @media (max-width: 630.98px) {
        #contact{
            height: 1200px !important;
        }

        #contactImg{
            height: 500px !important;
        }

        #cntImgDiv{
            left: 47%;
            top: 25%;
        }
    }

    @media (max-width: 526.98px) {
        #contactImg{
            height: 450px !important;
        }
    }

    @media (max-width: 450.98px) {
        #contact{
            height: 1100px !important;
        }

        #contactImg{
            height: 350px !important;
        }

        #cntImgDiv{
            top: 15%;
        }
    }

    @media (max-width: 385.98px) {
        #contactImg{
            height: 310px !important;
        }

        #cntImgDiv{
            top: 10%;
        }
    }

.hiiden{
    opacity: 0;
    transition: all 1s;
}
.show{
    opacity: 1;
}

   
